<div class="card mb-4 shadow-sm" style="height: 100%">
    <div class="row card-body">

        <div class="col-md-4">

            <div class="d-flex justify-content-around">
                <div class="element">
                    <img src="{{col.photoUrl}}" class="img-fluid shadow-sm" />
                </div>
            </div>


        </div>
        <div class="col-md-8">

            <dl class="row">
                <dt class="col-sm-5">Matricule:</dt>
                <dd class="col-sm-7">{{col.matricule}}</dd>
                <dt class="col-sm-5">Nom: </dt>
                <dd class="col-sm-7">{{col.nom | uppercase}}</dd>
                <dt class="col-sm-5">Prenom:</dt>
                <dd class="col-sm-7">{{col.prenom}}</dd>
                <dt class="col-sm-5">Date de naissance:</dt>
                <dd class="col-sm-7">{{col.dateDeNaissance | date: 'dd/MM/yyyy'}}</dd>
                <dt class="col-sm-5">Email:</dt>
                <dd class="col-sm-7">{{col.email}}</dd>
                <dt class="col-sm-5">Photo URL:</dt>
                <dd class="col-sm-7">{{col.photoUrl}}</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-5"></dt>
                <dd class="col-sm-7"><button routerLink="/galerie" class=" btn btn-info">Retour à la galerie</button>
                </dd>
            </dl>
        </div>
    </div>

    <div class="row card-body">
            <dt class="col-md-8"><textarea class="form-control" aria-label="With textarea" [(ngModel)]="comment.message"></textarea></dt>
            <dd class="col-md-4"><button (click)="addComment()" [disabled]="newComment" class=" btn btn-info">
                    Ajouter une note
                </button></dd>
    </div>

   <div class="row justify-content-lg-center">
        <div class="col col-lg-3"></div>
        <div class="col-lg-8">
            <div *ngIf="comments.length>0; else noComments">
                <h4 class="my-4 mx-4">Liste des notes :</h4>
                <ul class="col-lg-8 list-group">
                    <li *ngFor="let c of comments"
                        class="list-group-item d-flex justify-content-between align-items-center">
                        {{comment.message}}
                        <span class="badge badge-secondary badge-pill">{{comment.date | date: 'HH:mm:ss'}}</span>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col col-lg-1"></div>
    </div>


    <ng-template #noComments>
        <p class="text-center">Aucune note pour ce collègue</p>
    </ng-template>


