<div class="card mb-4 shadow-sm" style="height: 100%">
    <div class="row card-body">

        <div class="col-sm-4">
            Recherche par nom
        </div>
        <div class="col-sm-4">
            <input #saisie type="text" class="form-control" value="DUPONT" placeholder="Saisir le nom d'un collègue">
        </div>
        <div class="col-sm-4">
            <button (click)="rechercher(saisie.value)" class="btn btn-info">Rechercher</button>
        </div>
        <div *ngIf="matricules.length>0">
            <ul>
                <li (click)="getCollegue(matricule)" *ngFor="let matricule of matricules">{{matricule}}</li>
            </ul>

        </div>

    </div>
    <div class="row">

    </div>
</div>