<nav class="nav nav-pills nav-justified" style="background-color: rgb(245, 0, 114);">

        <a class="nav-item nav-link" routerLink="/accueil" routerLinkActive="active">Accueil</a>
        <a class="nav-item nav-link" routerLink="/galerie" routerLinkActive="active">Galerie</a>
        <a class="nav-item nav-link" routerLink="/apropos" routerLinkActive="active">A propos</a>
        <a class="nav-item nav-link" routerLink="/loggin" *ngIf="!connectedCol" routerLinkActive="active">Se
                connecter</a>
        <button (click)="logout()" *ngIf="connectedCol" class="btn btn-info" routerLinkActive="active">Se
                déconnecter</button>
</nav>
<div class="container-fluid text-right my-4" *ngIf="connectedCol">
                <h4 class="alert-heading">Vous êtes connecté</h4>
                <p>{{connectedCol.prenom}} {{connectedCol.nom}}</p>
                <hr>
        </div>
       



        <router-outlet></router-outlet>