<div class="card mb-4 shadow-sm">
    <div class="row card-body" style="height: 100%">
        <div class="col-sm-4">
            <div class="d-flex justify-content-around">
                <div class="element">
                    <img src="{{col.photoUrl}}" alt="photo Melle Rose" class="img-fluid shadow-sm" />
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <dl class="row">
                <dt class="col-sm-5">Matricule:</dt>
                <dd class="col-sm-7">{{col.matricule}}</dd>
                <dt class="col-sm-5">Nom: </dt>
                <dd class="col-sm-7">{{col.nom | uppercase}}</dd>
                <dt class="col-sm-5">Prenom:</dt>
                <dd class="col-sm-7">{{col.prenom}}</dd>
                <dt class="col-sm-5">Date de naissance:</dt>
                <dd class="col-sm-7">{{col.dateDeNaissance | date: 'dd/MM/yyyy'}}</dd>
                <dt class="col-sm-5">Email:</dt>
                <div *ngIf="modeEdition; else elseBlock2">
                    <input type="text" class="form-control">
                </div>
                <ng-template #elseBlock2>
                        <dd class="col-sm-7">{{col.email}}</dd>
                </ng-template>
                <dt class="col-sm-5">Photo URL:</dt>
                <div *ngIf="modeEdition; else elseBlock3">
                        <input type="text" class="form-control">
                    </div>
                    <ng-template #elseBlock3>
                            <dd class="col-sm-7">{{col.photoUrl}}</dd>
                    </ng-template>
                
            </dl>
            <div class="row">
                <div class="col-sm-5">
                    <div *ngIf="modeEdition; else elseBlock">
                            <button class="btn btn-info">Valider</button>

                    </div>
                    <ng-template #elseBlock>
                        <a href="#" (click)="editer()">Créer un nouveau collaborateur</a>
                        <div class="col-sm-7">
                            <button (click)="editer()" class="btn btn-info">Modifier</button>
                        </div>
                        
                    </ng-template>
                    
                </div>
                
                    
                </div>
         
        </div>
    </div>
</div>